*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(232, 232, 232);
    margin: 40px;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.a{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.b{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.c{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.d{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.e{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.f{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}