*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(232, 232, 232);
    margin: 40px;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(232, 232, 232);
    margin: 40px;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color:hsl(154, 46%, 47%);
}

.box {
    background-color: hsl(154, 46%, 47%);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.a {
    grid-column: 1 / 3;
    grid-row: 1;
}

.b {
    grid-column: 3;
    grid-row: 1 / 3;
}

.c {
    grid-column: 1;
    grid-row: 2;
}

.d {
    grid-column: 2;
    grid-row: 2;
}

.e {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}