body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #a5e7d6;
}

h1 {
  color: #252525;
  margin-bottom: 20px;
  font-size: 2rem;
}

button {
  background-color: #1fb48e;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover{
  transform: scale(1.05);
  background-color: #068465;
  color: azure;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

