*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(232, 232, 232);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 150px 100px 150px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color:hsl(154, 46%, 47%);
}

.box {
    background-color: hsl(154, 46%, 47%);
    color: #000000;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.box .box{
    background-color: blue;
    color: #fff;
}

.a {
    grid-column: 1 / 3 ;
    grid-row: 1;
}

.b {
    grid-column: 4 ;
    grid-row: 1;
}

.c {
    grid-column: 1;
    grid-row: 2;
}

.d {
    grid-column: 2 / 5;
    grid-row: 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 90px 140px 90px ;
    grid-template-rows: 100px 100px 100px ;
}

.e {
    grid-column: 1;
    grid-row: 1 ;
}

.f {
    grid-column: 2 ;
    grid-row: 1;
}

.g {
    grid-column: 3;
    grid-row: 1;
}

.h {
    grid-column: 1;
    grid-row: 2;
}

.i {
    grid-column: 2;
    grid-row: 2;
}

.j {
    grid-column: 3;
    grid-row: 2;
}

.k {
    grid-column: 1;
    grid-row: 3;
}
