@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Outward';
    src: url('outward-block-webfont.eot');
    src: url('outward-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('outward-block-webfont.woff2') format('woff2'),
         url('outward-block-webfont.woff') format('woff'),
         url('outward-block-webfont.ttf') format('truetype'),
         url('outward-block-webfont.svg#outwardblock') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Outward';
    src: url('/soutward-borders-webfont.eot');
    src: url('outward-borders-webfont.eot?#iefix') format('embedded-opentype'),
         url('outward-borders-webfont.woff2') format('woff2'),
         url('outward-borders-webfont.woff') format('woff'),
         url('outward-borders-webfont.ttf') format('truetype'),
         url('outward-borders-webfont.svg#outwardborders') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Outward';
    src: url('outward-round-webfont.eot');
    src: url('outward-round-webfont.eot?#iefix') format('embedded-opentype'),
         url('outward-round-webfont.woff2') format('woff2'),
         url('outward-round-webfont.woff') format('woff'),
         url('outward-round-webfont.ttf') format('truetype'),
         url('outward-round-webfont.svg#outwardround') format('svg');
    font-weight: normal;
    font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(212, 183, 158);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 41, 0);
    padding: 20px;
    color: white;
    position: static;
}

.logo{
    font-family: 'Outward';
    src: url('outward-block-webfont.eot');
    src: url('outward-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('outward-block-webfont.woff2') format('woff2'),
         url('outward-block-webfont.woff') format('woff'),
         url('outward-block-webfont.ttf') format('truetype'),
         url('outward-block-webfont.svg#outwardblock') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 20px; 
    font-weight: bold; 
    margin-right: 30px;
    margin-left: 30px;
}

.nav{
    display: flex;
    gap: 20px;    
}

.nav a{
    text-decoration: none;
    padding: 10px;
    color: rgb(200, 194, 186);
}

.nav a:hover{
    color: rgb(183, 123, 55);
}

.imagen img{    /*imagen full pantalla, img dsps del nombre es para la imagen juto y no el div entero*/
    width: 100%;
    height: auto;
    display: flex;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.intro{
    margin: 50px;
}

.intro h1{
    font-size:40px;
    text-align: center;
    padding: 20px;
    color: bisque;
}

.intro h2{
    font-size: 24px;
    text-align: center;
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
    color: rgb(62, 37, 6);
    text-transform: uppercase;
}

.intro p{
    font-size:20px;
    text-align: center;
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
    color: rgb(62, 37, 6);
    margin-bottom: 100px;
}

#InicioMenu{
    font-weight: bold
}

footer{
    background-color: rgb(128, 41, 0);
    font-size: 16px;
    padding: 40px;
    color: beige;
}

@media (max-width: 450px) {
    body{
        background-color: aqua;
    }
}