*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(212, 183, 158);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 41, 0);
    padding: 20px;
    color: white;
}

.logo{
    font-size: 20px; 
    font-weight: bold; 
    margin-right: 20px;
}

#NosotrosMenu{
    font-weight: bold
}

.nav{
    display: flex;
    gap: 20px;    
}

.nav a{
    text-decoration: none;
    padding: 10px;
    color: rgb(200, 194, 186);
}

.nav a:hover{
    color: rgb(183, 123, 55);
}

.intro{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.texto{
    display: block;
    justify-content: center;
}

.img img{
    width: 500px;
}

.intro h1{

    font-size:50px;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    color: bisque;
    padding-left: 60px;
    padding-right: 60px;
}

.intro h2{
    font-size: 20px;
    text-align: left;
    padding: 16px;
    color: rgb(128, 41, 0);
    text-transform: uppercase;
    padding-left: 60px;
    padding-right: 100px;
}

.intro p{
    font-size:16px;
    text-align: left;
    padding: 10px;
    color: rgb(128, 41, 0);
    padding-left: 60px;
    padding-right: 100px;
    text-align: justify;
}

footer{
    background-color: rgb(128, 41, 0);
    font-size: 16px;
    padding: 40px;
    color: beige;
}