@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: rgb(212, 183, 158);
}

/*header*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 41, 0);
    padding: 20px;
    color: white;
    
}

.logo{
    font-size: 20px; 
    font-weight: bold; 
    margin-right: 30px;
    margin-left: 30px;
}

#ProductosMenu{
    font-weight: bold
}

.nav{
    display: flex;
    gap: 20px;    
}

.nav a{
    text-decoration: none;
    padding: 10px;
    color: rgb(200, 194, 186);
}

.nav a:hover{
    color: rgb(183, 123, 55);
}

/*intro*/

.texto{
    display: block;
    justify-content: center;
}

.intro{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.intro h1{

    font-size:50px;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    color: bisque;
    padding-left: 60px;
    padding-right: 60px;
}

.intro p{
    font-size:20px;
    text-align: left;
    padding: 10px;
    color: rgb(128, 41, 0);
    padding-left: 60px;
    padding-right: 100px;
    text-align: justify;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 300px;
    margin: 30px;
}

.producto {
    background:  rgb(128, 41, 0);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    margin: 16px;
    margin-bottom: 20px;
}

.producto a {
    text-decoration: none;
    color: black;
}

.producto img {
    width: 100%;
    height: 200px;
}

.producto img:hover {
    filter: invert(100%);

}

.producto h3 {
    margin: 10px 0 5px 0;
}

.producto p {
    margin: 0 0 10px 0;
}

.producto:hover {
    transform: scale(1.05); /* Amago de abrir */
}


/*footer*/

footer{
    background-color: rgb(128, 41, 0);
    font-size: 16px;
    padding: 40px;
    color: beige;
}

